*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    font-size: 20px;
    font-family: 'Merriweather', serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container
{
    text-align: center;
}

.number
{

    border: 1px solid aliceblue;
    border-radius: 8%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: aliceblue;
    margin: auto;
    padding: 10px 10px;
    
}

.count
{
    font-size: 600%;
    text-align: center;
    padding-top: 20px;
}

.btns
{
    text-align: center;
    margin-top: 60px;
}

.btn:link,
.btn:visited
{
    text-decoration: none;
    font-size: 240%;
    background-color: #e67e22;
    border: 1px solid #e67e22;
    padding: 20px 80px;
    color: aliceblue;
    border-radius: 3px;
    transition:border 0.5s,background-color 0.5s ;
}
.btn:active,
.btn:hover
{
    background-color: #cf6d17;
    border: 1px solid #cf6d17;  
}

.reset-con
{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.reset:link,
.reset:visited
{
    text-decoration: none;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px 10px;
    background-color: #ecf0f1;
    border: 1px solid #ecf0f1;
    border-radius: 3px;
    transition:border 0.5s,background-color 0.5s ;
}

.reset:active,
.reset:hover
{
    background-color: #d8e1e3;
    border: 1px solid #d8e1e3;
}

.hundreds
{
    text-align: center;
}

.hun:link,
.hun:visited
{
    text-decoration: none;
    color: black;
    background-color: #ecf0f1;
    border: 1px solid #ecf0f1;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px 10px;
    border-radius: 3px;
    transition:border 0.5s,background-color 0.5s ;
}

.hun:active,
.hun:hover
{
    background-color: #d8e1e3;
    border: 1px solid #d8e1e3; 
}

